h1 {
	text-align:center
}

label,input {
	font-family: Poppins;
}
input {
	font-weight: 400;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 4px solid gray;
	cursor: pointer;
	outline: none;
	background-color: white;
}

 input:active, input:focus {

    border: 1px solid red;
    border-radius: 5px;
    
}

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {

    -webkit-appearance:none;
}

.check {
	display: flex;
	gap: 10px;
	font-family: Poppins;
	font-size: 12.2px;
}
#boxx {
	background-image: url("bg-edited.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
}
@media all and (min-width:1024px) {  
main {
	box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
	grid-template-columns: 1fr 1fr;
	display: grid;
}
	
}
